@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply text-base font-medium font-inter text-gray-500 leading-normal;
  }

  h1 {
    @apply text-5xl xs:text-6xl font-semibold;
  }
  h2 {
    @apply text-4xl xs:text-5xl font-medium;
  }
  h3 {
    @apply text-xl font-semibold text-white;
  }
  h6 {
    @apply text-base md:text-sm font-normal text-white;
  }
}

@layer utilities {
  .section-gap {
    @apply mb-16 md:mb-[150px];
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.slider ul.slick-dots {
  margin-top: 40px !important;
}

.slider .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #6b7280 !important;
  width: 16px;
  height: 16px;
  background: #6b7280 !important;
  border-radius: 20px;
}
.slider .slick-dots li.button:before {
  opacity: 0.75;
  color: blue !important;
  width: 16px;
  height: 16px;
  background: blue !important;
  border-radius: 20px;
}
